data/atlas/sri24 filter=lfs diff=lfs merge=lfs -text
data/atlas/whs_sd_rat filter=lfs diff=lfs merge=lfs -text
data/atlas/mni_icbm152_nlin_sym_09a filter=lfs diff=lfs merge=lfs -text
data/atlas/mni_icbm152_processed filter=lfs diff=lfs merge=lfs -text
data/atlas/mni_icbm152_nlin_sym_09a/mni_icbm152_t1_tal_nlin_sym_09a.mnc filter=lfs diff=lfs merge=lfs -text
data/atlas/mni_icbm152_nlin_sym_09a/mni_icbm152_t1_tal_nlin_sym_09a_mask.mnc filter=lfs diff=lfs merge=lfs -text
data/atlas/mni_icbm152_processed/mni_icbm152_labels_ventricles.mha filter=lfs diff=lfs merge=lfs -text
data/atlas/mni_icbm152_processed/mni_icbm152_labels_ventricles_flipped.mha filter=lfs diff=lfs merge=lfs -text
data/atlas/mni_icbm152_processed/mni_icbm152_t1_flipped.mha filter=lfs diff=lfs merge=lfs -text
data/atlas/mni_icbm152_processed/mni_icbm152_t1_flipped_skullstripped.mha filter=lfs diff=lfs merge=lfs -text
data/atlas/mni_icbm152_processed/mni_icbm152_t1_skullstripped.mha filter=lfs diff=lfs merge=lfs -text
data/atlas/mni_icbm152_processed/mni_icbm152_brainmask_flipped.mha filter=lfs diff=lfs merge=lfs -text
data/atlas/sri24/SRI24_tissue_labels_RAI.mha filter=lfs diff=lfs merge=lfs -text
data/atlas/sri24/SRI24_tissue_labels_RAI_ventricles.mha filter=lfs diff=lfs merge=lfs -text
data/atlas/sri24/SRI24_T1_RAI.mha filter=lfs diff=lfs merge=lfs -text
data/atlas/sri24/SRI24_T1_RAI_oriented.mha filter=lfs diff=lfs merge=lfs -text
data/atlas/sri24/SRI24_T1_RAI_oriented_SkullStripped.mha filter=lfs diff=lfs merge=lfs -text
data/atlas/sri24/SRI24_brain_mask.mha filter=lfs diff=lfs merge=lfs -text
data/atlas/whs_sd_rat/WHS_SD_rat_atlas_v2_RIP.nii.gz filter=lfs diff=lfs merge=lfs -text
data/atlas/whs_sd_rat/WHS_SD_rat_labels_ventricles.mha filter=lfs diff=lfs merge=lfs -text
data/atlas/whs_sd_rat/WHS_SD_v2_brainmask_bin_RIP.nii.gz filter=lfs diff=lfs merge=lfs -text
data/atlas/whs_sd_rat/WHS_SD_rat_T2star_v1.01_RIP.nii.gz filter=lfs diff=lfs merge=lfs -text
data/atlas/whs_sd_rat/WHS_SD_rat_T2star_v1_skullstripped.nii filter=lfs diff=lfs merge=lfs -text
